pkgbase = hwdata
	pkgdesc = hardware identification databases
	pkgver = 0.379
	pkgrel = 1
	url = https://github.com/vcrhonek/hwdata
	arch = any
	license = GPL-2.0-or-later
	makedepends = git
	replaces = hwids
	source = git+https://github.com/vcrhonek/hwdata.git#tag=v0.379?signed
	validpgpkeys = 3C40194FB79138CE0F78FD4919C2F062574F5403
	sha256sums = SKIP

pkgname = hwdata
