pkgbase = hwdata
	pkgdesc = hardware identification databases
	pkgver = 0.382
	pkgrel = 1
	url = https://github.com/vcrhonek/hwdata
	arch = any
	license = GPL-2.0-or-later
	makedepends = git
	replaces = hwids
	source = git+https://github.com/vcrhonek/hwdata.git#tag=v0.382?signed
	validpgpkeys = 3C40194FB79138CE0F78FD4919C2F062574F5403
	sha256sums = c20b03555bed7016d56adffcbe01fd2f65e3cc9fe88dc2545856512cacfa7162

pkgname = hwdata
